body {
	background-color: beige;
}

.App {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	text-align: center;
}

.card {
	justify-self: center;
	margin-top: 25px;
	width: 500px;
}

.margin-top {
	margin-top: 10px;
}
